.bill-amount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
}
.input-heading {
  text-align: center;
  font-size: 2rem;
  border: 1px solid black;
  border-radius: 4px;
  padding: 0px 30px;
  color: black;
  background-color: rgb(254, 207, 12);
  box-decoration-break: clone;
  width: 300px;
}
#input-value {
  font-family: Lato;
  font-size: large;
  font-weight: bold;
  background-color: white;
  border: 2px solid black;
  border-radius: 0.5rem;
  padding: 0.75rem;
  margin: 0.75rem auto;
}
.checkBtn {
  color: #000;
  font-weight: 700;
  border: 1px solid #fff;
  background-color: #26de81;
  width: 200px;
  font-size: 1.5rem;
  padding: 0.75rem;
  border-radius: 4px;
  cursor: pointer;
}
#change-table {
  margin: 1rem auto 0;
  border-collapse: collapse;
}

#change-table th {
  font-weight: bolder;
  font-size: 1.1rem;
}

#change-table th,
td {
  border: 2px solid rgb(254, 207, 12);
  /* good for mobile phone as well */
  /* padding: 0.44rem; */
  padding: 1rem 1.3rem;
}
