* {
  max-width: 600px;
  margin: 0 auto;
  box-sizing: border-box;
}
body {
  color: rgba(255, 255, 255, 0.959);
  background-color: #24292e;
  background-image: linear-gradient(#191c20, #24292e 15%);
  background-repeat: repeat-x;
  font-family: "Avenir", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;

  margin-top: 10%;
}
